build.tar.gz
.idea/
.vscode/
.cache
node_modules/
/build/
/demo/build/
/dist
demo-build/
/libs/
/es/
.DS_Store
*.tgz
*.swp
*.swo
package-lock.json
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
console_html.tar.gz
/console/
/coverage/
TESTS-*.xml
